.DS_Store
*.env
esra-search/pipelines/gpl/*
esra-frontend/dist/*
.playground/*
identity.public
identity.secret
id.public
id.secret

esra-explain-worker/temp/*
esra-explain-worker/papers_txt/*
esra-explain-worker/models/gpl/*
